$font-stack: Space Mono, monospace;
$font-weight-max: 900;

ol {
  margin-top: 100px;
  margin-left: -40px;
  position: relative;
  width: 100%;
}
ol li {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
}

.radio-options {
  margin-bottom: 5px;
  margin-right: 15rem;
  display: inline-block;
}

.radio-options:hover {
 outline: 0px;
 border: 0px;
}


.option {
  border: none;
  color: #98ff61;
  font-weight: 700;
  background: transparent;
  vertical-align: middle;
  font-size: 26px;

}

::ng-deep .mat-radio-label-content{
  width: 100%;
  text-align: center;
  padding-left: 0px !important;
}

.option:hover {
  outline: 0px solid #007aff;
}


.is-correct
{
animation:bounceOut 1s;
-webkit-animation:bounceOut 1s; /* Safari and Chrome */
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }
}

.is-incorrect {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  border-radius: 50%;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.feedback-icon {
  left: 680px;
    top: 51px;
    font-size: 40px;
    z-index: 111111111;
    color: #039c03;
    position: absolute;
}

section.messages {
  position: absolute;
  top: 0px;
  top: 10px;
  left: 210px;
  .message {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-size: 16px;
    text-align: center !important;
    margin: 10px 0 0 0;
    padding: 10px !important;
    width: auto !important;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center !important;
    margin: 0 auto !important;
    margin-top: 5px !important;
  }
  .correct-message {
    font-weight: $font-weight-max;
    font-size: 24px;
    color: #039c03 !important;
  }
  .wrong-message {
    font-weight: $font-weight-max;
    font-size: 24px;
    color: #ff0000 !important;
  }
  mat-icon.sentiment {
    font-size: 30px !important;
    color: #9acd32;
    margin-right: -50px !important;
    vertical-align: top;
    margin-top: 18px;
  }
  pre {
    font-size: 17px;
    margin-top: 10px;
  }
}

::ng-deep .mat-radio-button .mat-radio-container {
  display: none;
}

body { margin:20px; background:hsl(70, 31%, 85%); text-align:center; }

.balloon {
    border-radius:50%;
   z-index:10;
  
  -webkit-transform: scale(1);
	-moz-transform: scale(1);
  transform: scale(1);
  position: relative;
  &:before {
      content: "";
      top: 1%;
      left: 5%;
      width: 90%;
      height: 90%;
      border-radius: 100%;
      background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 2; 
  }
  &:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
  }
}



.circlecont:active  {
  transform:scale(2);
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(100%) rotate(4deg); }
}

.mat-radio-group > .radio-options:nth-child(1) > .balloon .circlecont{
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
 
  &:before{
    color:#cfac02;
  }
  left: 10px;
  top: 10px;
 li {
    color: #ffce08 !important;
  }
  /*&:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
  }*/
}

.mat-radio-group > .radio-options:nth-child(2) > .balloon .circlecont{
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  &:before{
    color:#3bb000;
  }
  top: 100px;
  left: 50px;

  li {
    color: #ff00e1 !important;
  }
}

.mat-radio-group > .radio-options:nth-child(3) > .balloon .circlecont{
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  &:before{
    color:#0445b0;
  }
  left: 100px;

  top: 150px;
  li {
    color: #00ffaa !important;
  }
}

.mat-radio-group > .radio-options:nth-child(4) > .balloon .circlecont{
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  &:before{
    color:#cf02cf;
  }
  
  left: 200px;
  top: 125px;

  .option {
  

  }
  li{
    color: #6aff00;
  }
}

.mat-radio-group{ text-align: center;  display: block}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: -15%;
  }
}

@-moz-keyframes animateBubble {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: -15%;
  }
}

@keyframes animateBubble {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: -15%;
  }
}

@-webkit-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:20px;
  }
}

@-moz-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:20px;
  }
}

@keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:20px;
  }
}


.circlecont{
  position:absolute;
  top:10px;
  left:10px;
  box-sizing: border-box;
  font-size:10px;
  
   
 }
 .circlecont .circle {
   position:absolute;
   top:0;
   left:0;
   width: calc(100% + 50px);
   font-size: 20px;
   height: 0;
   padding-bottom: calc(100% + 50px);
   border-radius:50%;
   box-shadow:  0 20px 42px #000, inset 0px -4px 89px 25px #046cc7;
   -webkit-box-shadow: 0 20px 42px #000, inset 0px -4px 89px 25px #046cc7;
    background: radial-gradient(ellipse at 75% 75%, rgba(230, 230, 230, 0.8), 
    rgba(230, 230, 230, 1.3) 9%, rgba(26, 26, 26, 0.1) 90%, rgba(26, 26, 26, 0.1)), 
    radial-gradient(ellipse at 25% 30%, rgba(230, 230, 230, 0.8),
    rgba(153, 153, 153, 0.2) 7%, rgba(26, 26, 26, 0.1) 90%, rgba(26, 26, 26, 0.1));
  &:before {
    content: "";
    background: radial-gradient(ellipse at 75% 75%, rgba(230, 230, 230, 0.8), 
    rgba(230, 230, 230, 1.3) 9%, rgba(26, 26, 26, 0.1) 90%, rgba(26, 26, 26, 0.1)), 
    radial-gradient(ellipse at 25% 30%, rgba(230, 230, 230, 0.8),
    rgba(153, 153, 153, 0.2) 7%, rgba(26, 26, 26, 0.1) 90%, rgba(26, 26, 26, 0.1));
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; 
}
&:hover {
    box-shadow:  0 20px 42px #000, inset 0px -4px 89px 25px #013b6e;
   -webkit-box-shadow: 0 20px 42px #000, inset 0px -4px 89px 25px #013b6e;
}
}
 .circlecont .measure{
   opacity:0;
   font-size: 18px;

 }
 .circlecont .centeredtext{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
 }  

 .display_err{color: #ff0000 !important;}



 body{
	background: #f9f0ae;
}

.content{
	width: 100%;
	position: absolute;
}

svg{
	stroke-width: .3;
	fill: none;
	width: 100%;
	height: 100vh;
	stroke-linecap: round;
  stroke-linejoin: round;
}

.main-svg{
	visibility: visible;
	position: absolute;
}

.second-svg{
	visibility: hidden;
	position: absolute;
	top:-120px;
	left: -80px;
}

.third-svg{
	z-index: -1;
	visibility: hidden;
	position: absolute;
	top:-120px;
	left: -60px;
}

.rotate{
	transform: rotate(20deg);
}

.rotate-2{
	transform: rotate(30deg);
}

.needle{
	width: 150px;
	height: 8px;
	background: grey;
	position: absolute;
	left: 80vw;
	top: 35vh;
	border-radius: 0 10px 10px 0;
}

.needle:before{
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border-width: 4px 20px 4px 0px;
	border-color: transparent grey transparent transparent;
	border-style: solid;
	position: absolute;
	left: -20px;
}

.needle:after{
	content: "";
	display: inline-block;
	width: 8px;
	height: 3px;
	background: #f9f0ae;
	border-radius: 40%;
	position: absolute;
	left: 135px;
	top: 2.5px;
}

button{
	position: absolute;
	left: 80vw;
	top: 40vh;
	outline: none;
	width: 13%;
	max-width: 150px;
  height: 10vh;
	border-radius: 10%;
	box-shadow: -1px -1px 2px inset #aab1b4;
	font-size: .8rem;
}

.slow-motion{
	top: 55vh;
}