$font-stack: Space Mono, monospace;
$font-weight-max: 900;

ol {
  margin-top: 150px;
  margin-left: -40px;
  position: absolute;
  width: 100%;
}
ol li {
  list-style-type: none;
  font-size: 24px;
  font-weight: bold;
}

.radio-options {
  margin-bottom: 5px;
  margin-right: 5rem;
  padding: 4px;
  display: inline-block;
}

.radio-options:hover {
 outline: 0px;
 border: 0px;
}


.option {
  width: 120px;
  height:120px;
  line-height: 120px;
  border: none;
  color: #fff;
  font-weight: 700;
  background: transparent;
  vertical-align: middle;
  font-size: 24px;

}

::ng-deep .mat-radio-label-content{
  width: 100%;
  text-align: center;
  padding-left: 0px !important;
}

.option:hover {
  outline: 0px solid #007aff;
}


.is-correct
{
animation:bounceOut 1s;
-webkit-animation:bounceOut 1s; /* Safari and Chrome */
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
  }
}

.is-incorrect {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  border-radius: 50%;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}


.feedback-icon {
  position: absolute;
    right: 0;
    left: 43%;
    margin-top: -34%;
}

section.messages {
  position: absolute;
  top: 0px;
  top: 10px;
  left: 210px;
  .message {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-size: 16px;
    font-style: italic;
    text-align: center !important;
    margin: 10px 0 0 0;
    padding: 10px !important;
    width: auto !important;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
  }
  .correct-message {
    font-weight: $font-weight-max;
    font-size: 24px;
    color: #00c853 !important;
  }
  .wrong-message {
    font-weight: $font-weight-max;
    font-style: normal;
    border-radius: 5px;
    color: #000!important;
    background: #ff9900;
  }
  mat-icon.sentiment {
    font-size: 30px !important;
    color: #9acd32;
    margin-right: -50px !important;
    vertical-align: top;
    margin-top: 18px;
  }
  pre {
    font-size: 17px;
    margin-top: 10px;
  }
}

::ng-deep .mat-radio-button .mat-radio-container {
  display: none;
}

body { margin:20px; background:hsl(70, 31%, 85%); text-align:center; }

.balloon {
    border-radius:50%;
   z-index:10;
   width:120px;
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #fff;
   -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #fff;
  height:120px;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-transform: scale(1);
	-moz-transform: scale(1);
  transform: scale(1);
  position: relative;
  &:before {
      content: "";
      top: 1%;
      left: 5%;
      width: 90%;
      height: 90%;
      border-radius: 100%;
      background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
      -webkit-filter: blur(5px);
      filter: blur(5px);
      z-index: 2; 
  }
  &:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
  }
}



.balloon:active  {
  transform:scale(2);
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(100%) rotate(4deg); }
}

.mat-radio-group > .radio-options:nth-child(1) > .balloon {
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #fff;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px #fff;
  &:before{
    color:#cfac02;
  }
  width:200px;
  height:200px;
  top: 150px;
  //left: 10%;
  .option {
    width:200px;
    height:200px;
    line-height: 200px;
  }
 li {
    color: #ffce08 !important;
  }
  &:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 30px 70px 5px #fff;
  }
}

.mat-radio-group > .radio-options:nth-child(2) > .balloon {
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  &:before{
    color:#3bb000;
  }
  width:250px;
  height:250px;
  top:50px;
  //left: 25%;

  .option {
    width:250px;
    height:250px;
    line-height: 250px;
  }
  li {
    color: #ff00e1 !important;
  }
}

.mat-radio-group > .radio-options:nth-child(3) > .balloon {
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  &:before{
    color:#0445b0;
  }
  width:210px;
  height:210px;
  top: 100px;

  //left: 50%;

  .option {
    width:210px;
    height:210px;
    line-height: 210px;

  }
  li {
    color: #00ffaa !important;
  }
}

.mat-radio-group > .radio-options:nth-child(4) > .balloon {
  animation:animateBubble 5s linear infinite, sideWays 5s ease-in infinite alternate;
  &:before{
    color:#cf02cf;
  }
  width:240px;
  //left: 70%;
  top: 25px;
  height:240px; 
  .option {
    width:240px;
    height:240px;
    line-height: 240px;

  }
  li{
    color: #6aff00;
  }
}

.mat-radio-group{ text-align: center;  display: block}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: -5%;
  }
}

@-moz-keyframes animateBubble {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: -5%;
  }
}

@keyframes animateBubble {
  0% {
      margin-top: 0px;
  }
  100% {
      margin-top: -5%;
  }
}

@-webkit-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:10px;
  }
}

@-moz-keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:10px;
  }
}

@keyframes sideWays { 
  0% { 
      margin-left:0px;
  }
  100% { 
      margin-left:10px;
  }
}
