<ng-content></ng-content>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <section class="messages" *ngFor="let option of question.options">
    <div *ngIf="isCorrect(option.optionValue)" [ngClass]="{'display_text': isCorrect(option.optionValue)}" >
      <pre class="message correct-message">{{ question.explanation }}.</pre>
    </div>
    <div *ngIf="isIncorrect(option.optionValue) && !!isCorrect(option.optionValue)">
      <mat-icon class="sentiment">sentiment_very_dissatisfied</mat-icon>&nbsp;&nbsp;
      <pre class="message wrong-message">  அது தவறு. சரியான பதில் {{ question.explanation }}.</pre>
    </div>
  </section>
  <ol class="form-group">
    <mat-radio-group aria-labelledby="quiz-form-radio-group" formControlName="answer" name="answer"
                     (change)="radioChange($event.value)" required>
      <div class="radio-options" *ngFor="let option of question.options">
        <div class="balloon" [ngClass]="{'is-correct': isCorrect(option.optionValue),
        'is-incorrect': isIncorrect(option.optionValue)}">
          <mat-radio-button name="option-radio-button" class="option" [value]="option.optionValue"
                          [checked]="question.selectedOption == option"
                          >
          <li>{{ option.optionText }}</li>
         <!-- <mat-icon class="feedback-icon" *ngIf="isCorrect(option.optionValue)">done</mat-icon>
          <mat-icon class="feedback-icon" *ngIf="isIncorrect(option.optionValue)">clear</mat-icon>-->
        </mat-radio-button>
        
</div>
        
      </div>
    </mat-radio-group>
  </ol>
</form>
