
    <div class="quiz-bg">
    <section class="header">
      <div class="row">
        <div class="question-title" id="question"><!--<div class="badge" *ngIf="question && question.questionId <= totalQuestions">
          <span>Question {{ question.questionId }} of {{ totalQuestions }}</span>
        </div> -->
        <div class="pad-top20">
        {{ question.questionText }}
        </div>  
      </div>
        <!--<div class="time-left">
          <span class="leader">Time</span>
          <span class="scoreboard">
            0:<span *ngIf="timeLeft < 10">0</span>{{ timeLeft }}
          </span>
        </div>-->
      </div>
    </section>
    <section class="vid">
    <video class="vid-res" playsinline autoplay [muted]="true" loop>
      <source src="https://cdn.jsdelivr.net/gh/arungandhi0503/ang-qz-sample-test@master/src/assets/video/question{{question.questionId}}.mp4" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  </section>
    <codelab-quiz-question [question]="question"></codelab-quiz-question>
    <section class="paging">
        <!-- <div class="previousQuestionNav" *ngIf="question && question.questionId !== 1">
          <button type="button" (click)="navigateToPreviousQuestion()">
            &laquo; Previous
          </button>
        </div> --> 
        <div class="nextQuestionNav" *ngIf="question && question.questionId !== totalQuestions">
          <button type="button" [disabled]="disabled" (click)="navigateToNextQuestion()">
            Next &raquo;
          </button>
        </div>
        <!--<div class="showScoreNav" *ngIf="question && question.questionId === totalQuestions">
          <button type="button" (click)="navigateToResults()">
            Show Your Score
          </button>
        </div>

    <section class="progress-bar">
      <ngb-progressbar *ngIf="(progressValue >= 0 && progressValue <= 100) &&
                              question && question.questionId <= totalQuestions"
                       type="success" [striped]="true" [animated]="true" [value]="progressValue">
        <strong>{{ progressValue }}%</strong>
      </ngb-progressbar>-->
    </section>
  </div>