$font-stack: arial;
$font-weight-max: 700;

.quiz-bg{
  background: #59caff url(../../../assets/images/bg-cloud.png);
  width: 1000px;
  height: 800px;
  margin: 0px auto;
  animation: move 5s infinite linear;
}
@keyframes move {
  from { background-position: 0 0; }
  to { background-position: 0 -500px; }
}

@-webkit-keyframes move {
  from { background-position: 0 0; }
  to { background-position: 0 -500px; }
}

mat-card-header {
  display: block;

  .header-image {
    margin-left: 15px;
  }

  .mat-card-container {
    float: right;
    margin-top: -85px;
    margin-right: 15px;
    margin-left: 5px !important;
    text-align: center;

    .subtitle2 {
      display: block;
    }
  }
}
.question-title {
  width: 90%;
  text-align: left;
}
section.scoreboard {

  .row {
    display: inline;
  }
  .score {
    float: left;
    background: #1fb804;
    padding: 20px;
    color: #fff;
    width: 10%;
    min-height: 100px;

  }

  .badge {
    font-family: $font-stack;
    font-size: 14px;
    padding: 0px;
    color: #fff;
    font-weight: $font-weight-max;
    display: block;
    text-align: left;

  }

  .pad-top20{
    padding-top: 20px;
  }
  .question-title {
    float: left;
    font-family: $font-stack;
  }

  .time-left {
    float: right;
    width: 10%;
    min-height: 100px;

  }
  .time-left .leader {
    margin-left: 20px;
  }
  .scoreboard {
    font-family: $font-stack;
    font-weight: $font-weight-max;
    font-size: 24px;
    color: #fff;
    display: inline-block;
    width: auto;
  }
  .leader {
    display: block;
    font-weight: $font-weight-max;
    font-size: 18px;
    position: relative;
    top: -5px;
  }
}

#question {
  font-family: arial;
  font-weight: 700;
  font-size: 20px !important;
  float: left;
  border-radius: 0px;
  padding: 20px;
  background-color: #006699;
  color: #fff;
  width: 90%;
  height: auto;
  min-height: 100px;
}

section.paging {
  width: 40rem;

  mat-card-actions {
    margin: -10px 0 10px 0;

    .previousQuestionNav {
      float: left;
      margin-left: 1.5rem;
    }

    .nextQuestionNav {
      float: right;
      margin-right: -0.4rem;
    }

    .showScoreNav {
      width: 150px;
      text-align: center;
      margin: 0 auto;
    }

    .nextQuestionNav:hover, .showScoreNav:hover {
      border: 1px solid #007aff;
    }

    .showScoreNav:hover {
      width: 141.5px !important;
    }
  }
}

section.progress-bar {
  margin: 40px 0 10px 1.5rem;
  width: 39rem;
  height: auto;

  ngb-progressbar {
    border-radius: 10px;
  }
}

