@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: 'Hind Madurai', Arial, sans-serif;
  background: rgb(2,0,36) linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,2,82,1) 53%, #000 100%) no-repeat; 
  margin:auto 15px;
}

mat-card {
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 5%;
  margin-left: 25%;
  width: 43rem;
  height: inherit;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
}
mat-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

mat-card-title {
  margin: -10px 0 10px 10px;
  font-family: "Hind Madurai", Arial;
  font-size: 30px !important;
  font-weight: 900 !important;
  color: #007aff;
}
mat-card-subtitle {
  text-align: center;
  font-family: "Hind Madurai", Arial;
  font-style: italic;
  font-size: 17.5px !important;
  font-weight: 900 !important;
  color: #808080;
}

.header{
  position: relative;
  margin:20px 0px;
}

.vid{
  margin: 10px auto;
}